/* global constants */
$contentWidth: 800px;

/* solarized colors */
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

html {
    padding: 0;
}
body {
    padding: 0;
    margin: 0;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-color: $base03;
}

#wrapper {
    width: 100%;
}

// navbar
#nav {
    width: 100%;
    float: left;
    background-color: $base03;
    margin: 0 0 2em 0;
    padding: 0;
    color: white;
    font-size: 20px;
}
#nav ul {
    list-style: none;
    width: $contentWidth;
    margin: 0 auto;
    padding: 0;
}
#nav li {
    float: left;
}
#nav div {
    height: 100%;
    display: block;
    padding: 15px 16px;
}
#nav form {
    display: inline;
}
#nav #urlDiv {
    padding: 10px 16px;
}
#nav #urlInput {
    width: 200px;
    margin-left: 10px;
    border-radius:4px;
    font-size: 20px;
}

// content
#content {
    width: $contentWidth;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: 10px;
}

#playerName {
    margin: 0;
}

#player img {
    height: 30px;
}

#introContent h1 {
    margin: 0;
}

// .statTable
.statTable {
    width: 100%;
    border-spacing: 0;
}
.statTable .statText {
    width: 60%;
    padding: 0;
    font-color: $base03;
    font-weight: bold;
    font-size: 24px;
}
.statTable .statText em {
    font-size: 34px;
}

// heroesRemaining & heroesNoWins tables
.heroTableDiv {
    width: $contentWidth / 2;
}
.heroTableDivTitle {
    margin: 0;
    font-color: $base03;
    font-size: 24px;
    font-weight: bold;
}
.heroTableDivTitle em {
    font-size: 34px;
}
.heroTableDiv .heroTable {
    margin-left: 20px;
    width: 80%;
    border-spacing: 0;
}
.heroTableDiv .heroTable td.heroImage {
    height: 34px;
}
.heroTableDiv .heroTable img {
    max-height: 100%;
    max-width: 100%;
}
.heroTableDiv .heroTable .heroText {
    margin: 0;
    padding: 0;
    font-color: $base03;
    font-size: 18px;
    font-weight: bold;
}

#heroesRemaining {
    float: left;
}

#heroesNoWins {
    float: right;
}
