<!DOCTYPE html>
<html>
  <head>
    <title>Dotabuff Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/javascripts/Chart.js"></script>
  </head>
  <body>
  <div id="nav">
      <ul>
          <li><div id="urlDiv">Dotabuff URL:<input type=text id="urlInput"></input></div></li>
      </ul>
      <span class="clearfloat"></span>
  </div>
  <div id="content">
      <div id="introContent">
          <h1>Welcome!</h1>
          <p>Enter your Dotabuff URL above to get started (e.g. http://dotabuff.com/players/10669028)</p>
      </div>
      <div id="trackerContent" style="display: none">
          <h1 id="playerName"></h1>
          <table id="heroesPlayed" class="statTable">
              <tr>
                  <td class="statText"><p>Heroes played: <em id="heroesPlayedText"></em></p></td>
                  <td class="statChart"><canvas id="heroesChart" class="statChartCanvas" height=150px width=150px></canvas></td>
              </tr>
          </table>
          <div id="heroesRemaining">
              <p id="heroesRemainingTitle">Heroes remaining: <em id="heroesRemainingText"></em></p>
              <table id="heroesRemainingTable">
              </table>
          </div>
      </div>
  </div>
  </body>
  <script src="/javascripts/client.js"></script>
</html>
